/* Colores:
 * 
 * celeste  : #cce3f4
 * amarillo : #efdd68
 * verde    : #bfe05f
 * 
 */
#laboratorio .tab-header-background {
    -fx-background-color: #cce3f4;
}

#laboratorio .tool-bar {
    -fx-alignment: CENTER_RIGHT;
}

#laboratorio .button {
    -fx-label-padding: 0px 25px 0px 25px;
}

.split-pane {
    -fx-border-color: rgb(255,255,255);
}

.tool-bar.superior {
    -fx-base:#FFFFFF;
    -fx-border-color:#FFFFFF #666666 #666666 #666666;
}

.distribucion {
    -fx-border-color: -fx-box-border; 
    -fx-background-color: -fx-background; 
    -fx-border-radius: 5;
}

.label.chart-legend-item {
    -fx-wrap-text: true;
}

.notificacion-advertencia {
    -fx-graphic: url("iconos/x32/notification_warning.png");
    -fx-graphic-text-gap: 10;
    -fx-content-display: left;
    -fx-wrap-text: true;
    -fx-padding: 10;
    -fx-text-alignment: left;
    -fx-alignment: center;
}

.notificacion-busqueda {
    -fx-graphic: url("iconos/x32/search.png");
    -fx-graphic-text-gap: 10;
    -fx-content-display: left;
    -fx-wrap-text: true;
    -fx-padding: 10;
    -fx-text-alignment: left;
    -fx-alignment: center;
}


.button.ejecutar {
}

.button.buscar {
}

.button.limpiar {
}

.label.descripcion {
    -fx-graphic: url("iconos/x32/description.png");
    -fx-content-display: left;
    -fx-graphic-text-gap: 10;
    -fx-wrap-text: true ;
    -fx-text-alignment: justify;
    -fx-alignment: top-center;
}

.menu .partida { 
    -fx-image: url("iconos/x16/file.png");
}

.menu:hover .partida, .menu:showing .partida { 
    -fx-image: url("iconos/x16/file_selected.png");
}

.menu-item .nuevaPartida {
    -fx-image: url("iconos/x16/file_add.png");
}

.menu-item .salir { 
}

.menu .metricas { 
    -fx-image: url("iconos/x16/metric.png");
}

.menu:hover .metricas, .menu:showing .metricas { 
    -fx-image: url("iconos/x16/metric_selected.png");
}

.menu .ayuda { 
    -fx-image: url("iconos/x16/help.png");
}

.menu:hover .ayuda, .menu:showing .ayuda { 
    -fx-image: url("iconos/x16/help_selected.png");
}

.label.buscar {
    -fx-graphic: url("iconos/x16/search.png");
}

.tab:selected .partida {
}

.tab:selected .laboratorio {
}

.tab:selected .registros {
}

.tab:selected .configuracion {
}

.inicio .button {
    -fx-content-display: left;
    -fx-graphic-text-gap: 10;
    -fx-background-radius: 10 30 30 10;
    -fx-border-radius: 10 30 30 10;
    -fx-alignment: center-left;
    -fx-background-color: rgba(255,255,255,0.2);
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.inicio .button:hover {

    -fx-effect:dropshadow(gaussian, rgba(255,255,255,1), 10, 0.5, 4, 4);
    -fx-text-fill: black;
}

.inicio .button:armed {
    -fx-translate-x: 3;
    -fx-translate-y: 3;
    -fx-effect:dropshadow(gaussian, rgba(255,255,255,1), 10, 0.4, 1, 1);
    -fx-text-fill: black;
}

.inicio .button.nuevaPartida {
    -fx-graphic: url("iconos/x32/file_add.png");
}

.inicio .button.usarLaboratorio {
    -fx-graphic: url("iconos/x32/clock.png");
}

.inicio .button.verRegistros {
    -fx-graphic: url("iconos/x32/disc.png");
}
