/* Colores:
 * 
 * celeste  : #cce3f4
 * amarillo : #efdd68
 * verde    : #bfe05f
 * 
 */
#laboratorio .tab-header-background {
    -fx-background-color: #cce3f4;
}

#laboratorio .tool-bar {
    -fx-alignment: CENTER_RIGHT;
}

#laboratorio .button {
    -fx-label-padding: 0px 25px 0px 25px;
}

.split-pane {
    -fx-border-color: rgb(255,255,255);
}

.tool-bar.superior {
    -fx-base:#FFFFFF;
    -fx-border-color:#FFFFFF #666666 #666666 #666666;
}

  